/**
 * default.css
 */
/**
 * base.scss
 */
html, body {
  font-size: 1vw;
  font-family: 'Rounded Mplus 1c', serif; }

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/**
 * header
 * declare breadcrumb style
 */
header {
  background: #44810F;
  color: white; }
  header nav.breadcrumb {
    display: flex;
    flex-wrap: none; }
    header nav.breadcrumb .box {
      min-width: 8vw;
      font-size: 1.3em;
      line-height: 3.5em;
      text-align: center;
      font-weight: bold; }
      header nav.breadcrumb .box:nth-child(1) {
        background-color: #006638;
        background-image: url(/img/common/logo.svg);
        background-repeat: no-repeat;
        text-indent: 3em; }
      header nav.breadcrumb .box:nth-child(2) {
        background-color: #046F1B; }
      header nav.breadcrumb .box:nth-child(3) {
        background-color: #19780A; }
      header nav.breadcrumb .box:nth-child(4) {
        flex-grow: 1; }
      header nav.breadcrumb .box a {
        display: block;
        text-align: center;
        color: white;
        text-decoration: none;
        padding: 0 1em;
        transition: all 200ms 0s ease; }
        header nav.breadcrumb .box a:hover {
          background: rgba(255, 255, 255, 0.2);
          color: #FFE600; }
      header nav.breadcrumb .box h1 {
        font-weight: bold; }
  header nav.ch ul {
    display: flex;
    justify-content: space-around;
    margin: 0;
    background: #91A182; }

/**
 * main style
 */
main {
  min-height: 100vh;
  overflow: hidden;
  background-image: url(/img/common/bg.png); }

/**
 * footer style
 */
footer {
  background: #006638;
  color: white;
  text-align: center;
  font-size: 1em;
  line-height: 1.8em; }

@media all and (max-width: 620px) {
  main .gadgets {
    display: none; } }
main {
  display: flex;
  padding-top: 1.5em; }
  main .gadgets {
    flex-grow: 1;
    max-width: 300px;
    min-width: 300px; }
  main .contents {
    flex-grow: 3;
    padding: 0 1em;
    font-size: 1.3em; }

.gadgets .gadget {
  width: 90%;
  margin: 0 auto;
  background: #fff;
  border-radius: 0.5em;
  font-size: 1.0em;
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.7); }
  .gadgets .gadget > div {
    padding: 0.5em; }
  .gadgets .gadget .header {
    background: #555;
    border-radius: 0.5em 0.5em 0 0;
    color: white; }
