header nav.admin > ul {
  display: flex;
  justify-content: space-around;
  margin: 0;
  background: #E1DBC9; }
header nav.admin .sub {
  display: none;
  position: relative; }
  header nav.admin .sub ul {
    position: absolute;
    background: #ddd; }
    header nav.admin .sub ul li {
      padding-left: 0.5em;
      width: 10em; }

div.message.error {
  padding: 0.4em 1em;
  color: #f00;
  background: #000; }

main div.admin {
  font-size: 0.6vw; }
  main div.admin .paginator ul li {
    display: inline; }
  main div.admin .ui-error {
    background: #F7E0EC;
    border: 1px solid #CE93B3;
    border-radius: 0.2em; }
    main div.admin .ui-error p {
      padding: 0.5em 1em; }
  main div.admin .editable {
    cursor: pointer; }
    main div.admin .editable:hover {
      background: rgba(0, 100, 0, 0.1); }
  main div.admin section {
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
    padding: 1em;
    margin-bottom: 1em;
    border-radius: 0.4em; }
    main div.admin section h2 {
      background: #3B98B2;
      padding: 0.1em 0.3em;
      color: white;
      font-size: 2.5em;
      border-radius: 0.2em;
      font-weight: bold;
      margin-bottom: 1em; }
    main div.admin section table.single {
      background: #E3E3E3;
      border-radius: 0.5em; }
      main div.admin section table.single tr td {
        padding: 1em; }
    main div.admin section table.multi {
      width: 100%; }
      main div.admin section table.multi thead {
        border-bottom: 2px solid #000; }
        main div.admin section table.multi thead tr {
          background: #3B98B2; }
          main div.admin section table.multi thead tr th {
            color: white; }
            main div.admin section table.multi thead tr th a {
              color: white; }
      main div.admin section table.multi tbody tr:nth-child(even) {
        background: #fcfcfc; }
      main div.admin section table.multi tbody tr:nth-child(odd) {
        background: #eeeeee; }
      main div.admin section table.multi tbody tr.active {
        background: rgba(255, 0, 0, 0.1); }
      main div.admin section table.multi th, main div.admin section table.multi td {
        padding: 0.3em;
        font-size: 1.3em; }
        main div.admin section table.multi th:nth-child(odd), main div.admin section table.multi td:nth-child(odd) {
          background: rgba(0, 0, 100, 0.05); }
  main div.admin div.sortable {
    width: 100%; }
    main div.admin div.sortable .thead > ul, main div.admin div.sortable .tbody > ul {
      width: 100%;
      display: flex; }
      main div.admin div.sortable .thead > ul > li, main div.admin div.sortable .tbody > ul > li {
        padding: 0.3em;
        font-size: 1.3em; }
        main div.admin div.sortable .thead > ul > li:nth-child(odd), main div.admin div.sortable .tbody > ul > li:nth-child(odd) {
          background: rgba(0, 0, 100, 0.05); }
    main div.admin div.sortable .thead {
      border-bottom: 2px solid #000; }
      main div.admin div.sortable .thead ul {
        background: #3B98B2; }
        main div.admin div.sortable .thead ul li {
          color: white; }
          main div.admin div.sortable .thead ul li a {
            color: white; }
    main div.admin div.sortable .tbody > ul:nth-child(even) {
      background: #fcfcfc; }
    main div.admin div.sortable .tbody > ul:nth-child(odd) {
      background: #eeeeee; }
    main div.admin div.sortable .tbody > ul.active {
      background: rgba(255, 0, 0, 0.1); }
  main div.admin .inputs .input {
    font-size: 2.0em;
    line-height: 2.0em;
    margin-bottom: 1em; }
    main div.admin .inputs .input label {
      font-weight: bold;
      display: block; }
    main div.admin .inputs .input input[type=text] {
      border: 1px solid #bbb;
      width: 100%; }
    main div.admin .inputs .input select {
      border: 1px solid #bbb;
      width: 100%; }
    main div.admin .inputs .input textarea {
      border: 1px solid #bbb;
      width: 100%; }
  main div.admin .inputs .editor {
    width: 100%;
    height: 50vh; }
  main div.admin .inputs .error-message {
    color: red; }
  main div.admin ul.stripe li:nth-child(odd) {
    background: #f0f0FF; }
  main div.admin ul.stripe li:nth-child(even) {
    background: #fafafa; }

#dialog-link {
  padding: .4em 1em .4em 20px;
  text-decoration: none;
  position: relative; }

#dialog-link span.ui-icon {
  margin: 0 5px 0 0;
  position: absolute;
  left: .2em;
  top: 50%;
  margin-top: -8px; }

.icons {
  margin: 0;
  padding: 0; }

.icons li {
  margin: 2px;
  position: relative;
  padding: 4px 0;
  cursor: pointer;
  float: left;
  list-style: none; }

.icons span.ui-icon {
  float: left;
  margin: 0 4px; }

.fakewindowcontain .ui-widget-overlay {
  position: absolute; }

select {
  width: 200px; }
