@charset "utf-8";
/**
 * common.scss
 */

/**
 * declare un order list styles
 */
ul {
    // This style of listmark is cat's paw pads.
    &.d1 li {
      background-image: url(/img/common/pad1.svg);
      background-repeat:no-repeat;
      background-size: 1.3em;
      padding-left:1.5em;;
    }
}

/**
 * declare table styles
 */
table {
  // div in th is box.
  &.d1 {
    tr {
      th div {
        background: #CAD1DB;
        padding:0.1em;
        text-align: center;
        font-weight: bold;
        border-radius: 0.2em;
        margin: 0.1em 0;
      }
    }
  }
}

/**
 * declare general padding style
 *
 * @Naming Rule
 * 1. Prefix is p, It is first string of padding.
 * 2. Number in class name is padding value.
 *    From right to left are the top, right, bottom, left .
 */
.p1111 { padding: 1vw; }
.p0101 { padding: 0 1vw; }
.p1010 { padding: 1vw 0; }
/**
 * declare general margin style
 *
 * @Naming Rule
 * 1. Prefix is m, It is first string of margin.
 * 2. Number in class name is margin value.
 *    From right to left are the top, right, bottom, left .
 */
 .m0010 {
   margin-bottom:1em;
 }
 .m0020 {
   margin-bottom:2em;
 }

 .hide {
   display:none;
 }

 .expand {
   width:100%;
 }

// 発光
.emission {
  box-shadow: 0 0 1em 0.2em rgba(0, 0, 255, 0.5);
}
